

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgba(197, 197, 174, 0.719);
}

/* Add this to your CSS or a separate stylesheet */
.clipboard-container {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.post-it {
  border: 2px solid rgba(224, 203, 11, 0.788);

  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.post-it textarea {
  background-color: rgba(255, 255, 158, 0.63);
  font-size: 25px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  border: none;
  resize: none;
}

button {
  margin-top: 10px;
}

textarea:focus {
  outline: 2px solid rgb(230, 216, 27);
}

